body {
  background-image: url("../img/prplebAc.jpg");
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #f300ef;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.5;
  color: #e1d9ff;
  font-family: cursive;
}

form {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
  display: flex;
  margin-bottom: 5px;
  border-style: ridge;
}

.txt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  font-family: cursive;
}

p {
  color: #e1d9ff;
  font-family: cursive;

  text-align: center;
}

.btn {
  margin-left: 10px;
  background: linear-gradient(90deg, #5257e7 0%, #db54cd 100%);
  transition: transform ease-in-out 10s;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  cursor: pointer;
  font-family: cursive;
}

.story {
  font-size: 16px;
  background-color: #fff;
  padding: 50px;
  line-height: 2;
  border-left: 3px solid #f15dec;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  font-family: cursive;
  color: rgb(226, 43, 159);
}

.hidden {
  display: none;
}

.main-container {
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 0.5px;
}

.example {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
  color: #fff;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #fff;
  opacity: 0.6;
}
